name: Label Issues (Script Injection Example)
on:
  issues:
    types:
      - opened
jobs:
  assign-label:
    runs-on: ubuntu-latest
    steps:
      - name: Assign label
        env:
          TITLE: ${{ github.event.issue.title }} # By setting it as a env. variable we avoid code from being injected. 
        run: |                                   # issue_title="${ github.event.issue.title }}" Instead of using git variable inside shell.         
          if [[ "$TITLE" == *"bug"* ]]; then    
          echo "Issue is about a bug!" 
          else 
          echo "Issue is not about a bug"
          fi